# Dependencies
/vendor/
composer.lock

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.cache

# Sensitive configuration files
crawler/config.json
crawler/jadepetals*.json
crawler/*.pem
crawler/*.key
